In [ ]:
#구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
fp = open('/content/gdrive/MyDrive/지역평균기온.txt', 'r', encoding='utf-8')

In [ ]:
data = fp.read()
print(data)

서울,20
부산,26
대구,24
인천,24
광주,25
대전,22
울산,26
세종,23
경기,24
강원,23
충북,26
충남,22
전북,24
전남,23
경북,28
경남,29
제주,26

In [ ]:
print(type(data))

<class 'str'>